.card{
	margin: 10px;
	width: 200px;
	height: 200px;
	position: relative;
	float: left;

}

.letter{
	padding: 10px;
	width: 200px;
	height:200px;
	position: relative;
	
}

#b_louisa{
	background-color:none;
}

#b_lai{
	background-color: blue;
}

#a_lai{
	background-color: blue;
}

#a_louisa{
	background-color: none;
}

#n_lai{
	background-color: blue;
}

#n_louisa{
	background-color: none;
}

#f_lai {
	background-color: blue;
}

#f_louisa{
	background-color: none;
}
